body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*.box{*/
  /*width: 250px;*/
  /*height: 100px;*/
  /*float: left;*/
  /*margin-left: 10px;*/
  /*line-height: 100px;*/
/*}*/
/*.span1{*/
  /*font-size: 20px;*/
  /*color:#ffffff;*/
  /*float: left;*/
  /*display: block;*/
/*}*/
/*.span2{*/
  /*font-size: 40px;*/
  /*color:#ffffff;*/
  /*float: right;*/
  /*display: block;*/
/*}*/